body {
	display: block;
	font-family: "Quicksand", sans-serif;
	color:  #2d333c;
	overflow-x: hidden;
	margin-left:  auto;
	margin-right: auto;
}
.bg-grey {
	background-color: #adb5bd;
	background-color: #dcdbdd;
}
.bg-blue {
	background-color: #c0cedd;
	background-color: #becad8;
}
.lisa {
	color: #62baac;
}
.ehrich {
	color: #aaaaa7;
}
.white {
	color: #cdcdcd;
}
.project-author {
	font-size:small;
}

/*** navbar ***/
.navbar {
	background-color: #cdcdcd;
}
.navbar-brand img{
	width: 200px;
}
.nav li a {
	font-family: 'Julius Sans One', 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #88dfff;
}
.nav-link {
	color: #529a95;
	font-size: 18px;
}
.nav-link a:hover {
	color:#9b9fa1;
}
/*** section ***/
.page-wrap {
	padding-top: 70px;
	overflow:hidden;
}
.page-section {
	padding-top: 4rem;
	padding-bottom: 2rem;
}
/*** home ****/
.home-bg {
	background-image: url("img/LE/lifecycle-01.jpg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
	background-attachment:fixed;
}
.bd-highlight {
	background-color: rgb(240 255 255 / 27%);
}
.statement {
	height: 100vh;
	text-align: center;
	 padding-top: 150px;
}
.exhibit-desc {
	padding-left: 3rem;
}
#about {
	margin-top: 5rem;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #60b2ac;
}
.about-bg {
	background-image: url("img/LE/about-bg-02.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
p , .p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
}
.smaller {
	font-size: 70%;
}

/*****Swiper CSS Styles/Size**/
.swiper-button-next,
.swiper-button-prev {
	color:#55909f;
}
.swiper-container,
 .swiper-container-2,
 .swiper-container-3,
 .swiper-container {
    width: 100%;
    margin: 50px 0;
    padding: 55px 0;
}
.swiper-slide {
    opacity: 0.4;
    overflow: hidden;
    transition: .7s;
}
.swiper-slide img {
    width: 100%;
}
.swiper-slide-active {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
}
/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ...	}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }*/

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }*/

 /*X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1200px) { 
	.contain{
		max-width:75%;
	}
}
