html {
	height: 100vh;	
}
body {
	background-color: #fff;
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	font-family: "Quicksand", sans-serif;
	color: #898b8d;
	overflow-x: hidden;
}
.bg-grey {
	background-color: #edeef0;
	color: #898b8d;
}
.white {
	color: #f3f3f3;
}
.project-author {
	font-size:small;
}
/*** navbar ***/
.navbar {
	background-color: #fff;
}
.navbar-brand {
	font-size: 2rem;
	color:#898b8d;
	letter-spacing: 0.5rem;
}
.navbar-nav .nav-link {
	font-family: 'Julius Sans One','Open Sans',sans-serif;
	color:#898b8d;
	font-size: 15px;
	font-weight: 600;
}
.nav-link:focus, .nav-link:hover {
	color:#6c6e6e;
}
/*** section ***/
.page-section {
	padding-top: 7rem;
	padding-bottom: 1rem;
	padding-left: 0;
}
hr {
	width: 70%;
	height: 4px;
	margin-left: auto;
	background-color:#6c6e6e;
	color: #6c6e6e;
	border: 0 none;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*** home ****/
.home-bg {
	width: 100%;
	background-image: url("img/LE/fall-install-home.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:cover;
	background-attachment: local;
}
.home-text {
	background-color: rgb(240 255 255 / 27%);
	min-height: 400px;
	padding-left: 35%;
	font-weight: 500;
}
.statement {
	height: 100vh;
	text-align: center;
	 padding-top: 7rem;
}
.exhibit-desc {
	padding-left: 3rem;
}
#about {
	padding-top: 70px;
	padding-bottom: 5rem;
}
.teach-size {
	max-width: 50%;
}
p, .p {
	font-family: 'Open Sans', sans-serif;	
}
.smaller {
	font-size: 80%;
}
.pub-caption {
	
}
.ehrich {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
/*****Swiper CSS Styles/Size***/
.swiper-button-next,
.swiper-button-prev {
	color: #898d8b;
}
.swiper-container,
 .swiper-container-2,
 .swiper-container-3,
 .swiper-container-4 {
    width: 100%;
    margin: 50px 0;
    padding: 55px 0;
}
.swiper-slide {
    opacity: 0.4;
    overflow: hidden;
    transition: .7s;
}
.swiper-slide img {
    width: 100%;
}
.swiper-slide-active {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
}
.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
  }
.swiper-pagination-bullet-active {
	color: #fff;
	background: #898d8b;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
		
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.navbar-nav .nav-link {
		font-size: 20px;
		}	
}
/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }*/

 /*X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.container, .container-fluid{
		max-width:75%;
	} 
}*/
/*XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1200px) {...}*/